# Binaries
**/bin/
!vendor/premake/bin/
# Directories
.vs/
/bin/
Hazel/vendor/**/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
# Files
*.user
Makefile
.vscode/
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes

# Visual Studio files
*.sln
**/**/*.vcxproj
**/**/*.vcxproj.filters
